@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

bodu,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: blue;
    font-family: Exo, sans-serif;
}

.Home {
    position: relative;
    background-image: radial-gradient(
        farthest-corner at 40px 40px,
        #50e5ee, 60%,
        rgba (255, 255, 255, 10) 100%
    );
    min-height: calc(100vh - 60px);
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
